/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_container {
  width: 70%;
  height: 70%;
  display: flex;
  margin: 0.5rem;
}

.main_container .left_container {
  width: 55%;
}

.main_container .right_container {
  width: 45%;
}

.left_container img {
  height: 7rem;
  margin-top: 3.5rem;
  margin-bottom: -1rem;
}

.left_container p {
  font-size: 1.6rem;
  margin-left: 2rem;
  font-weight: 400;
  line-height: 2rem;
}

.right_container form {
  background-color: white;
  border-radius: 0.6rem;
  padding: 1rem;
  width: 85%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form input {
  width: 100%;
  display: block;
  margin-bottom: 1.3rem;
  outline: none;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: 0.05rem solid lightgrey;
  font-size: 1rem;
}

form input:focus {
  border: 0.1rem solid #166fe5;
  transition: 0.3s;
}

#login_button {
  background-color: #166fe5;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

#login_button:hover {
  background-color: #0f5ec7;
  transition: 0.3s;
}

.right_container a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.right_container a:hover {
  text-decoration: underline;
}

hr {
  margin: 1.2rem 0;
  border: 0.01rem solid lightgrey;
}

.button_container {
  text-align: center;
  margin-top: 1rem;
}

.button_container button {
  width: fit-content;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.6rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background-color: #36a420;
  color: rgb(241, 241, 241);
  cursor: pointer;
}

.button_container button:hover {
  background-color: #2b8a18;
  transition: 0.3s;
}

.last_text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
}
